In [1]:
print("Hello World")

Hello World

In [2]:
print("mary's cosmotics")

mary's cosmotics

In [3]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [5]:
print("c:\Windows")

c:\Windows

In [6]:
print("안녕하세요.\n만나서\t\t반갑습니다")

안녕하세요.
만나서		반갑습니다

In [9]:
print("오늘은", "일요일")

오늘은 일요일

In [13]:
print("naver","kakao","sk","samsung", sep="/")

naver/kakao/sk/samsung

In [15]:
print("first", end="");print("second")

firstsecond

In [17]:
print("first", end="");print("second")

firstsecond

In [19]:
print(5/3)

1.6666666666666667

In [22]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [26]:
시가총액 = 298000000000
현재가 = 50000
PER = 15.79
print(시가총액,type(시가총액), 현재가,type(현재가),PER,type(PER))

298000000000 <class 'int'> 50000 <class 'int'> 15.79 <class 'float'>

In [29]:
s = "hello"
t = "python"
print(s+"!",t)

hello! python

In [30]:
2 + 2 * 3

8

In [31]:
a = 128
print(type(a))

<class 'int'>

In [33]:
a = "132"
print(type(a))

<class 'str'>

In [39]:
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [42]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [44]:
str = "15.79"
_ = float(str)
print(_, type(_))

15.79 <class 'float'>

In [48]:
year = "2020"
_ = int(year)
print(_ - 3)
print(_ - 2)
print(_ - 1)

2017
2018
2019

In [50]:
_ = 48584
총금액 = _ * 36
print(총금액)

1749024

In [53]:
letters = 'python'
print(letters[0], letters[2])

p t

In [54]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [55]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [57]:
string = "홀짝홀짝홀짝"
print(string[0:6:2])

홀홀홀

In [58]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [64]:
st = "PYTHON"
print(st[::-1])

NOHTYP

In [65]:
number = "010-1111-2222"
number = number.replace("-", " ")
print(number)

010 1111 2222

In [67]:
number = "010-1111-2222"
number = number.replace("-", "")
print(number)

01011112222

In [68]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [69]:
lang = 'PYTHON'
lang[0]= 'p'
print(lang)

TypeError: 'str' object does not support item assignment

In [70]:
string = 'abcdfe2a354a32a'
print(string.upper())

ABCDFE2A354A32A

In [72]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [73]:
a = "3"
b = "4"
print(a + b)

34

In [74]:
print('Hi' * 3)

HiHiHi

In [77]:
print("-" * 80)

--------------------------------------------------------------------------------

In [82]:
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [92]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {} 나이 : {}".format(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [96]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [104]:
상장주식수  = "5,969,782,550"
new = 상장주식수.replace(",", "")
_ = int(new)
print(_)
print(type(_))

5969782550
<class 'int'>

In [105]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [108]:
data = "       삼성전자      "
data1 = data.strip()
print(data1)

삼성전자

In [109]:
ticker  = "btc_krw"
print(ticker.upper())

BTC_KRW

In [110]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [112]:
_ = "hello"
print(_.capitalize())

Hello

In [113]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [115]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [116]:
a = "hello world"
a.split()

['hello', 'world']

In [118]:
ticker = "btc_krw"
ticker.split(

['btc_krw']